.MuiTableCell-root {
  padding: 10px;
  border: 1px solid black;
}

.MuiTableCell-head {
  background-color: #eee;
}

.App {
  text-align: center;
  margin: 20px;
}

header {
  margin: 20px 0;
}

@media screen and (min-width: 850px){

.MuiTextField-root {
  width: 100px;
  margin-right: 20px;
}

.input{
  width: 60px;
  height: 5px;
}
}

@media screen and (max-width: 850px){

  .MuiTextField-root {
    width: 50px;
    margin-right: 20px;
  }

  .input{
    width: 50px;
    height: 5px;
  }
}